In [1]:
from sklearn import linear_model, svm
import pandas as pd
import matplotlib.pyplot as mlp
from datetime import datetime

In [2]:
pd.options.mode.copy_on_write = True
df = pd.read_csv('Rice-Data.csv')
df

    Year  Rainfall_june_to_december  hg_per_ha_yield
0   1990                    47458.1            26125
1   1991                    43440.0            26271
2   1992                    42145.8            26092
3   1993                    44586.7            28303
4   1994                    46970.7            28645
5   1995                    45808.2            26972
6   1996                    44071.6            28226
7   1997                    45385.0            28457
8   1998                    47913.8            28805
9   1999                    42873.7            29782
10  2000                    38945.3            28508
11  2001                    39782.4            31158
12  2002                    34329.1            26163
13  2004                    38909.7            29756
14  2005                    44655.9            31537
15  2006                    42866.8            31759
16  2007                    48014.4            32924
17  2008                    42109.6            32509
18  2009                    37182.5            32366
19  2010                    46481.8            33587
20  2011                    43459.5            35878
21  2012                    41000.1            36909
22  2013                    46605.5            36070

In [3]:
df2 = df[10:]
df2

    Year  Rainfall_june_to_december  hg_per_ha_yield
10  2000                    38945.3            28508
11  2001                    39782.4            31158
12  2002                    34329.1            26163
13  2004                    38909.7            29756
14  2005                    44655.9            31537
15  2006                    42866.8            31759
16  2007                    48014.4            32924
17  2008                    42109.6            32509
18  2009                    37182.5            32366
19  2010                    46481.8            33587
20  2011                    43459.5            35878
21  2012                    41000.1            36909
22  2013                    46605.5            36070

# Linear Regression

## Whole data

In [4]:
model = linear_model.LinearRegression()
df1train , df1test = df[:19] , df[19:]
start = datetime.now()
model.fit( df1train[['Rainfall_june_to_december']], df1train.hg_per_ha_yield)
print('Time Elapsed', datetime.now()-start)

Time Elapsed 0:00:00.017014

In [5]:
result = model.predict(df1test[['Rainfall_june_to_december']]).round(2)
df1test['Prediction'] = result
df1test['Accuracy'] = round(100 - abs(((df1test['Prediction'] - df1test['hg_per_ha_yield'])/df1test['hg_per_ha_yield']) * 100) , 2)
df1test

    Year  Rainfall_june_to_december  hg_per_ha_yield  Prediction  Accuracy
19  2010                    46481.8            33587    29101.45     86.64
20  2011                    43459.5            35878    29167.25     81.30
21  2012                    41000.1            36909    29220.79     79.17
22  2013                    46605.5            36070    29098.76     80.67

### average accuracy

In [6]:
df1test['Accuracy'].mean()

81.94500000000001

## After 2000

In [16]:
model2 = linear_model.LinearRegression()
df2train , df2test = df2[:9] , df2[9:]
start = datetime.now()
model2.fit( df2train[['Rainfall_june_to_december']], df2train.hg_per_ha_yield)
print('Time Elapsed', datetime.now()-start)

Time Elapsed 0:00:00.003012

In [17]:
result2 = model2.predict(df2test[['Rainfall_june_to_december']]).round(2)
df2test['Prediction'] = result
df2test['Accuracy'] = round(100 - abs(((df2test['Prediction'] - df2test['hg_per_ha_yield'])/df2test['hg_per_ha_yield']) * 100) , 2)
df2test

    Year  Rainfall_june_to_december  hg_per_ha_yield  Prediction  Accuracy
19  2010                    46481.8            33587    31536.94     93.90
20  2011                    43459.5            35878    31536.74     87.90
21  2012                    41000.1            36909    31535.15     85.44
22  2013                    46605.5            36070    31536.93     87.43

## average accuracy

In [18]:
df2test['Accuracy'].mean()

88.6675

# SVM

## whole data

In [10]:
svmModel = svm.SVR()
df1train2 , df1test2 = df[:19] , df[19:]
start = datetime.now()
svmModel.fit( df1train2[['Rainfall_june_to_december']], df1train2.hg_per_ha_yield)
print('Time Elapsed', datetime.now()-start)

Time Elapsed 0:00:00.006515

In [11]:
result = svmModel.predict(df1test2[['Rainfall_june_to_december']]).round(2)
df1test2['Prediction'] = result
df1test2['Accuracy'] = round(100 - abs(((df1test2['Prediction'] - df1test2['hg_per_ha_yield'])/df1test2['hg_per_ha_yield']) * 100) , 2)
df1test2

    Year  Rainfall_june_to_december  hg_per_ha_yield  Prediction  Accuracy
19  2010                    46481.8            33587    28644.73     85.29
20  2011                    43459.5            35878    28645.28     79.84
21  2012                    41000.1            36909    28647.35     77.62
22  2013                    46605.5            36070    28644.79     79.41

### average accuracy

In [12]:
df1test2['Accuracy'].mean()

80.53999999999999

## After 2000

In [13]:
svmModel2 = svm.SVR()
df2train2 , df2test2 = df2[:9] , df2[9:]
start = datetime.now()
svmModel2.fit( df2train2[['Rainfall_june_to_december']], df2train2.hg_per_ha_yield)
print('Time Elapsed', datetime.now()-start)

Time Elapsed 0:00:00.004998

In [14]:
result = svmModel2.predict(df2test2[['Rainfall_june_to_december']]).round(2)
df2test2['Prediction'] = result
df2test2['Accuracy'] = round(100 - abs(((df2test2['Prediction'] - df2test2['hg_per_ha_yield'])/df2test2['hg_per_ha_yield']) * 100) , 2)
df2test2

    Year  Rainfall_june_to_december  hg_per_ha_yield  Prediction  Accuracy
19  2010                    46481.8            33587    31536.94     93.90
20  2011                    43459.5            35878    31536.74     87.90
21  2012                    41000.1            36909    31535.15     85.44
22  2013                    46605.5            36070    31536.93     87.43

### average accuracy

In [15]:
df2test2['Accuracy'].mean()

88.6675